body {
    background: linear-gradient(to bottom, #ffc0cb, #ff69b4);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}
.container {
    position: relative;
    width: 200px;
    height: 150px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    color: white;
}
.envelope {
    width: 100%;
    height: 100%;
    background-color: #f58383;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.message {
    width: 100%;
    height: 100%;
    background-color: white;
    color: black;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 13px;
    padding: 10px;
    box-sizing: border-box;
    opacity: 0;
    transition: opacity 0.5s;
    border-radius: 10px;
}
.open .envelope {
    transform: translateY(-100%);
}
.open .message {
    opacity: 1;
}
.back-button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #ff1493;
    color: white;
    text-decoration: none;
    border-radius: 20px;
    font-size: 16px;
    font-weight: bold;
    transition: 0.3s;
}
.back-button:hover {
    background-color: #c71585;
}